.login-row > th {
  cursor: pointer;
}

.login-row > th.not-connected {
  cursor: default;
}

.delete-login {
  opacity: 0;
  cursor: pointer;
}

.login-row:hover .delete-login {
  opacity: 1;
}

.login-row:hover {
  background-color: #f3f3f3;
}
